/* Import Font and Reset */

@import url('https: //fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}



/* Hedear */
header {
  display: flex;
  justify-content: center;
}

.header-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/* Logo */
.dc-logo {
  width: 70px;
}

/* Main */
main {
  background-color: black;
  color: white;
}

.container-h1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
}

/* Footer */
.container-footer {
  background-image: url(./assets/img/footer-bg.jpg);
  position: relative;
}

.img-dc {
  width: 30%;
  position: absolute;
  top: -40px;
  right: 300px;
}

.h3-footer {
  color: white;
  font-weight: bold;
  margin-top: 45px;
  margin-right: 100px;
}

.card {
  display: flex;
  margin-left: 220px;
  margin-bottom: 60px;
}

.opacity {
  list-style-type: none;
  color: white;
  opacity: 0.5;
}

.bar-footer {
  background-color: #303030;
  height: 130px;
  position: relative;
}

.border {
  border: 1px solid #0282F9;
  padding: 10px;
}

.row-footer {
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

.t-azure {
  color: #0282F9;
}

.icon-footer {
  width: 30px;
  height: 30px;
  margin-top: 40px;
}

.d-flex {
  display: flex;
  gap: 70px;
}


/* navbar */

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 24px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #0282f9;
  border-bottom: 2px solid #0282f9;
}

/* Listmenu */
.list-menu-container {
  background-color: #0282f9;
  padding: 30px 0;
}

.list-menu-container {
  background-color: #0282f9;
  padding: 30px 0;
}

.list-menu-contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.list-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.list-menu-item {
  display: flex;
  align-items: center;
}

.list-icon {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.list-text {
  color: white;
  font-size: 14px;
  font-weight: 600;
}